// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.mainBox {
    padding-top: 100px;
}

.flex_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgBox {
    width: 100px;
    margin: 20px;

    img {
        width: 100%;
    }
}

.imgGalleryBox {
    border: 1px solid grey;
}

.galleryImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carta {
    width: 45% !important;
    margin: 10px !important;
}

.catBox {
    border: 1px solid rgb(82, 40, 40);
    border-radius: 10px;
}
