body {
  padding: 150px;
}

.albumListElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgBox {
  width: 100%;
}

.imgBox img {
  max-width: 50%;
  padding: 30px;
}

